.projects-cnt {
    height: 75%;
    width: 70%;
    margin: auto;
    margin-top: 3%;
    border-radius: 2%;
    background-color: rgb(11, 17, 22);
    box-shadow: 0px 0px 10px black;
    padding: 0% 0%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.projects-cnt p {
    color: gray;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:768px) {
    .projects-cnt {
        height: 50%;
        width: 80%;
    }
}

@media screen and (max-width:568px) {
    .projects-cnt {
        height: 50%;
        width: 100%;
    }
}